package.name = "rfl"

[tag.UserProperty]

#1. Synchronization(2)

[tag.LockHold]
args = [ "lock", "a"]
desc = "The corresponding lock `{lock}` is held for the duration of lifetime '`{a}`."

[tag.NonData_race]
args = [ "loc" ]
desc = "The memory block `{loc}` should not have data races."

#2. Non-Condition(8)

[tag.NonDropped]
args = [ "val", "event" ]
desc = "The value `{val}` is not dropped when it is used in the context of `{event}`."

[tag.NonMutate]
args = [ "ptr", "val" ]
desc = "When value `{val}` is alive, the memory pointed at by `{ptr}` must not be mutated."

[tag.NonZero]
args = [ "val", "a" ]
desc = "The value `{val}` remains non-zero for the duration of the lifetime `{a}`."

[tag.NonMutRef]
args = [ "val" ]
desc = "There is no mutable reference to `{val}` created."

[tag.NonConCurrent]
args = [ "val" ]
desc = "The value `{val}` should not be accessed concurrently by multiple users."

[tag.NonUsed]
args = [ "val" ]
desc = "This value `{val}` must not be used as an argument in any other function."

[tag.NonAccessable]
args = [ "ptr" ]
desc = "The pointee of `{ptr}` must not be accessed after this call."

[tag.NonInstance]
args = [ "val", "a" ]
desc = "For the duration of the lifetime '{a}', there must not exist a value '{val}'."

#3. Validity(9)

[tag.Valid]
args = [ "val", "a" ]
desc = "The value `{val}` must be valid for the duration of `{a}`."

[tag.ValidWrite]
args = [ "dst", "len" ]
desc = "The pointer `{dst}` is valid for writing `{len}` bytes."

[tag.ValidRead]
args = [ "src", "len" ]
desc = "The pointer `{src}` is valid for reading `{len}` bytes."

[tag.MayInvalid]
args = [ "v" ]
desc =  "The value `{v}` may become invalid during later usage."
types = [ "hazard" ]

[tag.ValidVma]
args = [ "v", "l"]
desc = "The VMA `{v}` must be valid for the duration of '`{l}`."

[tag.ValidFile]
args = [ "f" ]
desc = "The pointer `{f}` must point to a valid file."

[tag.ValidMemory]
args = [ "addr", "s" ]
desc = "The address `{addr}` is the start of a valid memory region of size `{s}`."

[tag.ValidCast]
args = [ "U", "T" ]
desc = "The pointer of type `{U}` can be castbale to type `{T}` ,  and any value of type `{T}` written through such a pointer must result in a valid value."

[tag.ValidInstance]
args = [ "v" ]
desc = "The value`{v}` must be a valid instance for usage."

#4. Control Flow(6)

[tag.CalledBy]
args = [ "env" ]
desc = "This function is only called by the specified environment `{env}`."

[tag.CallOnce]
args = []
desc = "This function can only be called once."

[tag.PostToFunc]
args = [ "fn" ]
desc = "The function taged by this property can only be called after `{fn}` has been called."

[tag.OriginateFrom]
args = [ "val", "fn" ]
desc = "The value `{val}` is returned by a call to function `{fn}`."

[tag.AnyThread]
args = [ "fn" ]
desc = "Function `{fn}` can be called from any thread."

[tag.CurThread]
args = [ "input" ]
desc = "The argument `{input}` can only be called or accessed on the current thread."

#5. Miscellaneous(6)

[tag.RefTransfer]
args = [ "ptr", "ret" ]
desc = "The caller must own a refcount on `{ptr}` that is transferred to the returned `{ret}`."

[tag.Invariant]
args = [ "ptr" ]
desc = "The type invariants for `*{ptr}` must hold for the pointee of `{ptr}`."

[tag.ActiveContext]
args = [ "val" ]
desc = "The returned object is only used to access `{val}` within the task context that was active when this function was called."

[tag.Associated]
args = [ "val", "T" ]
desc = "The value `{val}` is associated with a value of type `{T}`."

[tag.ContainerOf]
args = [ "p", "C", "f" ]
desc = "The pointer `{p}` points at a field `{f}` of container `{C}`."

[tag.FlagSet]
args = [ "flag" ]
desc = "The flag `{flag}` must already have been set."

#6. List Operations(8)

[tag.Empty]
args = [ "l" ]
desc = "The container `{l}` must be empty."
expr = "l.len() == 0"

[tag.InList]
args = [ "list", "val" ]
desc = "The value {val} must be in list `{list}`."
types = [ "precond" ]

[tag.NonInList]
args = [ "list", "val" ]
desc = "The value {val} must not be in the list `{list}`."
types = [ "precond" ]

[tag.Equal]
args = [ "l", "r" ]
desc = "The left val `{l}` must be equal to the right val `{r}`."
expr = "l == r"

[tag.Null]
args = [ "p" ]
desc = "The pointer `{p}` must be null."
expr = "p == 0"

[tag.NonExist]
args = [ "T", "val" ]
desc = "An instance of type `{T}` must not exist for value '{val}'."

[tag.Think_Exist]
args = [ "target", "type"]
desc = "The tracking inside `{type}` must think that there is a `{target}` reference."

[tag.Access]
args = [ "T", "ret_val", "type" ]
desc = "The caller must have `{type}` access to `{T}` for the duration of `{ret_val}`."
